.DS_Store
*.json
data/*
*.pyc
.vscode
*.log
*.log.*
.coverage
unused_stuff
docker-copy
downloads/*
congregate/docs/build
congregate/docs/data/congregate*
congregate/docs/source/*.rst
congregate/docs/source/static_docs/*.html
congregate/docs/source/*.html
!congregate/docs/source/index.rst
js-packages
.venv
.pytest_cache
.idea
.vscode
congregate/tests/cli/data/congregate.conf
congregate.egg-info/*
dist/*
runbooks/*.html
docker/bitbucket/bitbucket.properties-populated
test-data

node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

!package.json
