[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://testpypi.python.org/simple"
verify_ssl = true
name = "testpypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
awscli = "*"
"boto3" = "*"
requests = "*"
flask = "*"
futures = "*"
danger-noodle = "*"
docopt = "*"
gunicorn = "*"
gevent = "*"
mock = "*"
"psycopg2" = "*"

[requires]
python_version = "2.7"
