[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://testpypi.python.org/simple"
verify_ssl = true
name = "testpypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
awscli = "*"
boto3 = "*"
requests = "*"
flask = "*"
futures = "*"
danger-noodle = "==0.1.6"
docopt = "*"
gunicorn = "*"
gevent = "*"
mock = "*"
autopep8 = "*"
lazy-object-proxy = "==1.4.1"
docker = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
"bs4" = "*"
lxml = "*"

[scripts]
clean_pyc = "find ./congregate -name '*.pyc' -delete"

[requires]
python_version = "2.7"
