<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class = "header">
    <h1>Congregate by GitLab - {% block header %}{% endblock %}</h1>
</div>
<nav>
    <ul>
        <li><a href = {{ url_for('home_page') }}>Home</a></li>
        <li><a href = {{ url_for('project_page') }}>Projects</a></li>
        <li><a href = {{ url_for('group_page') }}>Groups</a></li>
        <li><a href = {{ url_for('user_page') }}>Users</a></li>
        <li><a href = {{ url_for('config_page') }}>Config</a></li>
    </ul>
</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>