{% extends "base.html" %}
{% set active_page = "config" %}

{% block title %}
Congregate by GitLab
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4>Config</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in data.config.items() %}
                    <tr>
                        <td class = "config_key">{{ key }}</td>
                        <td>
                            <div class="form-group">
                            <input type = "text" class = "config_value form-control" value = {{ value }}>
                            </div>  
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block button_id %}update_config_button{% endblock %}
{% block button_label %}Update{% endblock %}