{% extends "base.html" %}

{% block title %}
Congregate by GitLab
{% endblock %}

{% block header %}
Groups
{% endblock %}

{% block content %}
  <table>
    <tr>
        <th>Staged</th>
        <th>Name</th>
        <th>Visibility</th>
        <th>Path</th>
    </tr>
  {% for d in data %}
    <tr>
        <td><input id = "{{ d.id }}" type = "checkbox"></td>
        <td>{{ d.name }}</td>
        <td>{{ d.visibility }}</td>
        <td>{{ d.path }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

{% block button_id %}stage_groups{% endblock %}
{% block button_label %}Stage{% endblock %}