{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
Congregate by GitLab
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Status</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for key, value in data.items() %}
                <li class="list-group-item">
                    <h5 class="card-title">
                        {{ key }}: 
                        <span class="badge badge-secondary">{{ value }}</span>
                    </h5>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block button_id %}migrate_button{% endblock %}
{% block button_label %}Migrate{% endblock %}