body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/congregate_logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
#nav {
    background-color: #FF851B;
    color :hsl(28, 100%, 20%);
    position: fixed;
    width: 10%;
    height: 100%;
}

#nav h1 {
    font-size: 1.5em;
    text-indent: 0.5em;
    padding: 0.5em 0;
}

nav {
    margin: 0 auto;
} 

nav ul {
    display: block;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    width: 100%;
    margin-left: 0;
    text-indent: 1em;
}

a {
    color: hsl(28, 100%, 20%);
}

a:link {
    display: block;
    padding: 0.5em 0;
    text-decoration-line: none;
    width: inherit;
}

a:hover {
    background-color: hsl(28, 100%, 20%);
    color: #FF851B;
    text-decoration-line: underline;
}

a p {
    margin-left: 0.5em;
}

#content {
    position: relative;
    left: 10%;
    right: 10%;
    width: 85%;
    padding: 1em;
    color: #111;
}

#content h1 {
    font-size: 1.5em;
    display: inline;
    border: 1px solid #FF851B;
    border-bottom: none;
    padding: 0.05em 0.2em;
}

#content-table-wrapper {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #FF851B;
    background-color: rgba(255, 255, 255, 0.5);
}

#content-table-wrapper table tr td{
    border: 1px solid #FF851B;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #DDD;
    text-align: center;
    padding-top: 1em;
}

#migration-status {
    display: none;
}

#stage_log {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 50%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #DDD;
    text-align: left;
}

#stage_log p  {
    margin: 0;
}

#stage_log > p:not(:last-child) {
    display: none;
}

#stage_log > p:last_child {
    display: block;
}

.stage_button {
    position: relative;
}