<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('base_static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('base_static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('base_static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src = "{{ url_for('static', filename='congregate.js') }}"></script>
</head>
<body>
    <div id = "nav">
        <h1>Congregate</h1>
        <nav>
            {% set navigation_bar = [
                (url_for('home_page'), 'home', 'Home'),
                (url_for('project_page'), 'projects', 'Projects'),
                (url_for('group_page'), 'groups', 'Groups'),
                (url_for('user_page'), 'users', 'Users'),
                (url_for('config_page'), 'config', 'Config')
            ] -%}
            
            {% set active_page = active_page|default('index') -%}
            <ul>
                {% for href, id, caption in navigation_bar %}
                <li>
                    <a {% if id == active_page %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div id = "content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div id = "stage_log"><p>Status</p></div>
            <button id = {% block button_id %}{% endblock %} class="stage_button">{% block button_label %}{% endblock %}</button>
        </div>
    </footer>
   

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function(e) {
                let id = $(this).data("thisid");
                let chk = $('#' + id);
                if (!(id == e.target.id)) {
                    chk.prop("checked", !chk.prop("checked"))
                }
            });
        });
    </script>
</body>