{% extends "base.html" %}
{% set active_page = "config" %}

{% block title %}
Congregate by GitLab
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4>Config</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                {% for section in data.sections() %}
                    <thead class="thead-light">
                    <tr>
                        <th colspan="2">{{ section }}</th>
                    </tr>
                    </thead>
                    {% for key, value in data.items(section) %}
                        <tr>
                            <td class = "config_key">{{ key }}</td>
                            <td>
                                <div class="form-group">
                                <input type = "text" class = "config_value form-control" value = {{ value }}>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block button_id %}update_config_button{% endblock %}
{% block button_label %}Update{% endblock %}